Repository lelongrvp/wedding-site: changes, and which lint-staged commands are due for each by the changed paths.
All: npx eslint --fix, npx prettier --write

.lintstagedrc.json:

{
  "**/*.{js,jsx}": ["npx eslint --fix", "npx prettier --write"],
  "**/*.{json,css,scss,md}": ["npx prettier --write"]
}

feat: build before commit
  .husky/pre-commit
Due: none

feat: update UI
  css/style.css
  index.html
  js/glightbox.js
  js/isotope.js
  js/main.js
  src/asset/about-1.jpg
  src/asset/about-2.jpg
  src/asset/bg-tree.png
  src/asset/portfolio/portfolio-1.jpg
  src/asset/portfolio/portfolio-2.jpg
  src/asset/portfolio/portfolio-3.jpg
  src/asset/portfolio/portfolio-4.jpg
  src/asset/portfolio/portfolio-5.jpg
  src/asset/portfolio/portfolio-6.jpg
  src/asset/portfolio/portfolio-7.jpg
  src/asset/portfolio/portfolio-8.jpg
  src/asset/portfolio/portfolio-9.jpg
  src/asset/services-1.jpg
  src/asset/services-2.jpg
  src/asset/services-3.jpg
  src/asset/wedding-1.jpg
  src/asset/wedding-2.jpg
  src/asset/wedding-3.jpg
  src/main.js
  src/style.css
Due: npx eslint --fix, npx prettier --write

fix: remove linting
  .lintstagedrc.json
  eslint.config.js
  package-lock.json
  package.json
Due: npx eslint --fix, npx prettier --write

fix: update imports
  index.html
  src/js/glightbox.js
  src/js/isotope.js
  src/js/main.js
  src/style.css
Due: npx eslint --fix, npx prettier --write

feat: update UI and remove search bar
  index.html
  package.json
  src/style.css
  yarn.lock
Due: npx prettier --write

fix: update music button
  index.html
  src/js/main.js
  src/style.css
Due: npx eslint --fix, npx prettier --write

New files from Fly.io Launch
  .dockerignore
  Dockerfile
  fly.toml
Due: none

feat: add netlify config
  .gitignore
  netlify.toml
Due: none

feat: install package
  package-lock.json
  yarn.lock
Due: npx prettier --write

chore: remove configuration files and project setup
  .gitignore
  .husky/pre-commit
  .lintstagedrc.json
  .prettierrc
  README.md
  netlify.toml
  package-lock.json
  package.json
  yarn.lock
Due: npx prettier --write

feat: add invitation section
  index.html
  src/asset/Zalo_36Z31etC1l.png
  src/asset/Zalo_4vmIHqhB0j.png
  src/asset/Zalo_dg9f6J3HD1.png
  src/js/main.js
  src/style.css
Due: npx eslint --fix, npx prettier --write
